html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: lightgray;
    margin-bottom: 60px;
}



.pg_content {
    background-color: #fff;
    border-radius: 1px;
    margin-top: 25px 0px;
    padding: 20px;

}

#bio_content h1 {
    margin-top: -10px;
}

.portcard {
    position: relative;
    background-color: green;
    width: 150px;
    margin: 20px;
    
}

.bg-darkgray {
    background-color: darkgray;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

.biopic {
    width: max-content;
}

.bioLink {
    text-align: right;
}

.ribbon {
    background-color: rgba(186, 151, 221, 0.5);
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 12px 0;
    position: absolute;
    bottom: 10px;
}

.portcard a {
    color: black;
}

.cardtext {
    font-size: 0.9rem;
}